body {
  font-family: sans-serif;
  margin: 30px auto;
  background-color: #f5f7fa;
  max-width: 800px;
  line-height: 1.6;
  padding: 10px;
}

h1 {
  color: navy;
  text-align: center;
  margin-bottom: 30px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 12px;    
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

section:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}
    
h2 {
  margin-top: 0;
  color: #333333;
  font-size: 22px;
  border-left: 5px solid navy;
  padding-left: 10px;
}

ul {
    padding-left: 20px; 
    margin-bottom: 0; 
}

li:last-child {
  margin-bottom: 0;
}
